.AI_page {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.content {
    flex: 1;
    overflow-y: auto;  
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: sticky;
    bottom: 0;
}

.textbox {
    resize: none;
    border: none;
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid  #ccc;
    background: white;
    margin: auto;
    overflow-y: auto;
}

.submit {
    align-self: flex-end;
    position: relative;
    padding: 5px;
    background-color: #A5668B;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5%;
    bottom: 45px;
}

.submit:hover {
    background-color: #ae7596;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.hero_heading {
    margin-bottom: -5px;
    font-size: 1.8rem;
}

.prompts {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    gap: 5px;
    width: 70%;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

.prompt {
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: 30%;
    min-height: 100px;
    border-radius: 24px;
    transition: 0.5s background-color ease;
}

.prompt:hover {
    background-color:#eef0ef;
}