body {
    background-color: #f6eee3;
    color: #333232;
    margin: 0;
}

.title {
    font-size: 1.7em;
    margin-bottom: 0;
    transition: color 0.5s ease;
}

.title:hover {
    color: #A5668B;
}

.main_page {
    display: flex;
    flex-direction: row;
}

.content {
    flex: 1;
    width: 80%;
    padding: 20px 0px 0px 20px;
    margin: 0;
}


.card {
    padding: 2em;
}

.book_list {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #333232 #f6eee3;
    margin-bottom: 50px;
}
