.search_book {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_bar {
    margin-bottom: 20px;
    line-height: 40px;
    box-sizing: border-box;
    width: 90%;
    padding-left: 40px;
}

.search_button {
    line-height: 40px;
    margin-bottom: 20px;
    width: 50px;
    font-size: 1.2em;
    vertical-align: center;
}

.placeholder_search {
    flex: none;
    position: relative;
    left: 30px;
    top: calc(50% - 12px);
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
}