@media (max-width: 768px) {
  .SideBar {
    display: none;
  }
}

.SideBar {
    background-color: #679289;
    color: #022B3A;
    width: 250px;
    flex-shrink: 0;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

.SideBar h2 {
    margin-top: 0;
}

.sidebar_menu {
    display: flex;
    flex-direction: column;
}

.sidebar_menu li {
    color: #022B3A;
    padding: 10px;
    list-style: none;
}

.links {
    color: #022B3A;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links:hover {
    color: #A5668B;
    font-weight: bold;
}